{% extends 'businesses/base1.html' %}
{% load staticfiles %}
{% block title %}Business-Introduction{% endblock %}


{% block content %}
<div style="width:100%; height:50px; background-color:black;">
</div>
{% endblock %}


{% block container %}


    <div style="padding: 20px; text-align:center;color:#000;">
        <div id="mapa" class="capas"></div>
        <div id="datos" class="capas">
        <h2>{{ business.business_name}}</h2>
        <hr class="dark">
        <p>{{ business.explanation }}</p>
        </div>
    </div>


{% endblock %}