{% extends 'businesses/base.html' %}
{% load staticfiles %}

{% block content %}

<div style="width:100%; height:50px; background-color:black;">
</div>
<a href="{% url 'businesses:menu' business.id %}" style="margin-left:20px;text-decoration: none;"> <-previous page</a>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                {% if user and not user.is_anonymous %}
                <h1>{{ business.business_name}} > 자원관리 </h1>
                <hr class="dark">
                    <div class="col-lg-4 col-sm-6">
                        <a href="{% url 'businesses:location' business.id %}" class="portfolio-box">
                            <p class="circle1" ><div class="circle-detail"> 장소 </div></p>
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-category text-faded">

                                        </div>
                                        <div class="project-name">

                                        </div>
                                    </div>
                                </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <a href="{% url 'businesses:material' business.id %}" class="portfolio-box">
                            <p class="circle1" ><div class="circle-detail"> 물품 </div></p>
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-category text-faded">

                                        </div>
                                        <div class="project-name">

                                        </div>
                                    </div>
                                </div>
                        </a>
                    </div>
               {% else %}
                  <h1>Your Favorite Source of Free Bootstrap Themes</h1>
                  <hr>
                  <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
                  <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
                {% endif %}
            </div>
        </div>
    </header>

{% endblock content %}