{% extends 'businesses/base.html' %}
{% load staticfiles %}

{% block content %}

<div style="width:100%; height:50px; background-color:black;">
</div>

<a href="{% url 'businesses:menu' business.id %}" style="margin-left:20px;text-decoration: none;"> <-previous page</a>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                {% if user and not user.is_anonymous %}
                <h1> {{ business.business_name }} > 인력 관리 </h1>
                <hr class="dark">


                    <table class="table table-bordered" >
                        <thead>
                        <tr>
                            <td><B>분야</B></td>
                            <td><B>성명</B></td>
                            <td><B>역할</B></td>
                            <td><B>학과</B></td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for worker in business.worker_set.all %}
                        <tr>
                            <td>{{ worker.major }}</td>
                            <td>{{ worker.name }}</td>
                            <td>{{ worker.role }}</td>
                            <td>{{ worker.department }}</td>
                        </tr>
                        {% endfor %}
                        <tbody>
                    </table>

               {% else %}
                  <h1>Your Favorite Source of Free Bootstrap Themes</h1>
                  <hr>
                  <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
                  <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
                {% endif %}
            </div>
        </div>
    </header>

{% endblock content %}